@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Ranchers&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#4BB7EF;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

header{

    width: 100%;
    height: 120px;
    background: #1f3050;
    border-bottom: solid;  
    border-width: 10px;    
    border-bottom-color:#4BB7EF;
    
    }

main{
    
    text-align: center;
    border-radius: 1.5ch;
    width: 99%;
    background-color:#F5DCB4;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
    display: flex;
    flex-direction: column;

}

footer{

    width: 100%;
    height: 120px;
    background: #1f3050;
    border-top: solid;  
    border-width: 15px;    
    border-top-color:#4BB7EF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    
    
}

nav li {
list-style: none;
font-size: 11px;
margin-right: 15px;   
}

.container{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;  

}


ul{
    display: flex;
}

hr{
    width: 90%;
    height: 3px;
    border-radius: 2ch;
    text-align: center;
    
    background-color: #020303;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px; 
    
}


a{
    font-family: 'Ranchers', cursive;
    color: #4BB7EF;
    text-decoration:none;
    font-size: 15px;
    text-transform: uppercase;
    transition: font-size 0.3s, color 1s;
    
}

a:hover{

    color: white;
    font-size: 17px;
}

.logo img:hover{

    
    height: 89px;
    
}

.logo img{  
    padding-top: 5px;
    display: flex;
    height: 85px;
    

}

.copy p{

    
    font-size: 100%;
    color: white;

}



main img{
    
    
    margin: 0 auto;    
    
}




li img{
    
    margin-right: 10px;
}   
   

 

.cbcpda{
    display: flex;
    width: 100%;
    text-align: center;
    padding:5px;

    
}



.topmain{
    width: 80%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
   
}


.topmain img{
    width: 100%;
    border-radius: 2ch;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    
   
}

.topmain img:hover{
    height: 305px;
}

.textomain{
    width: 100%;
    height: 40%;
    
}

.textotop{
    margin-bottom: 10px; 
    
}

.textotop p{
    letter-spacing: 1.5px;
    font-size: 30px;  
    
}

.textotop h1{
    font-family: 'Ranchers', cursive;
    font-size: 40px;    
    margin-bottom: 3px;
    letter-spacing: 1.5px;
}

.botmain{
    margin: 0 auto;
    display: flex;
    width:80% ;
    height: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.botmain img{
    border-radius: 1.5ch;
}

button{
    letter-spacing: 0.3em;
    width: 50%;
    background-color: #000000;
    height: 30px;
    font-weight: bold;
    color:white;
    font-size: 15px;
    font-family: 'Ranchers', cursive;
    text-transform: uppercase;
    transition: background-color 1s, color 1s;
    border-style: none;
    border-radius: 0.5ch;
    
}

button:hover{
    
    width: 55%;
    border-style: solid;
    color:black;
    background-color: white;

}

.pet{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 400px;
    
}

.pet p{

    font-size: 20px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

 h2{
    font-size: 30px;    
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Ranchers', cursive;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.ong{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 350px;
}

@media (max-width: 720px){

    .topmain img{

        width: 90%;
        height: 70%;        
    
    }

    ul{
        display: block;
    }
    
    }






 
