*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#4BB7EF;
    
}

header{    
    width: 100%;
    height: 120px;
    background: #1f3050;
    border-bottom: solid;  
    border-width: 10px;    
    border-bottom-color:#4BB7EF;
    
}

main{
    height: 80vh;    
    width: 95%;
    background-color:#F5DCB4;
    margin: 0 auto;
}

footer{
    width: 100%;
    height: 120px;
    background: #1f3050;
    border-top: solid;  
    border-width: 15px;    
    border-top-color:#4BB7EF;
}

nav li {
list-style: none;
font-size: 11px;
margin-right: 15px;   
}

.container{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;  

}


ul{
    display: flex;
}


a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4BB7EF;
    text-decoration:none;
    font-size: 15px;
    text-transform: uppercase;
    
}

a:hover{

    color: white;
    font-size: 17px;
}

.logo img:hover{

    height: 89px;
    
}

.logo img{
    
   
    display: flex;
    height: 85px;
}

.pda div{
    
    display: flex;
    direction: row;
    background-color: black;
    width: 100%;
    height: 1000px;

}

main h2{
    text-align: center;
    color: #1f3050;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (max-width: 600px){

    ul{
        display: flex;
        flex-direction: column;
    }

    .logo p {
        display: none;
    }

    body{
        background-color: crimson;
    }
}

li img{
    
    margin-right: 10px;
}

